@model SmartSite.Models.News
@{
    ViewBag.Title = "DeleteNews";
}

<br />
<hr />
<div class="container">
    <div class="alert alert-danger" style="font-size:large">
        <p>Are you sure you want to delete this news ?</p>
    </div>
    <hr />
    @using (Html.BeginForm("DeleteNews", "News", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.ID)
        <div class="row">
            <div class="col-sm-2">
                <button type="submit" class="btn btn-danger form-control">Delete</button>
            </div>
            <div class="col-sm-2">
                @Html.ActionLink("Return", "GetAllNews", null, new { @class = "btn btn-info form-control" })
            </div>
        </div>
    }
</div>
