@model SmartSite.Models.News
@{
    ViewBag.Title = "NewsDetails";
}
<!-- Blog Single -->
<section class="news-area archive blog-single section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="blog-single-main">
                            <div class="blog-detail">
                                <!-- News meta -->
                                <div class="news-meta">
                                    <h4><i class="fa fa-pencil"></i> @Model.Date</h4>
                                </div>
                                <h2 class="blog-title">@Model.Title</h2>
                                <div class="row blog-space">
                                    <div class="col-lg-6">
                                        <img class="card-img-top" src="~/imageUploads/NewsImg/@Model.Image" alt="Card image cap">
                                    </div>
                                    <div class="col-lg-6">
                                        <h3><u>Details</u></h3>
                                        <div style="border:outset">
                                            <p>@Model.Details</p>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div>
                                </div>
                            </div>
                            <div class="more ">
                                @Html.ActionLink("News Page", "GetAllNews", null, new { @class = "btn btn-info form-control col-4 " })
                            </div>

                        </div>
                </div>
            </div>
        </div>
    </div>
        </div>
</section>
<!--/ End Services -->