@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="container">
    <hr />
    <div class="alert alert-dark">
        <p style="text-align:center;font-size:large" class="text-danger">Not Found product of this Name</p>
    </div>
    <hr />
</div>
